<!-- 
Creator: Donald Trowbridge
Date: 12/13/2020
 -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<h:form>
		<h:outputLabel value="Enter a word and find out how many occurences of that word appear in the King James Bible." />
		<br />
		<h:outputLabel value="Word: " />
		<h:inputText value="#{word.word}"/>
		<br />
		<h:commandButton action="#{formController.findWord(word)}" value="Search" />
	</h:form>
		<ui:fragment rendered="#{word.occurences > -1}">
			<h:outputLabel value="The number of occurences of the word #{word.word} is #{word.occurences}" />
		</ui:fragment>
		<ui:fragment rendered="#{(word.word != null and word.occurences == -1)}" >
			<h:outputLabel value= "There was an error processing your request. Please try again later." />
		</ui:fragment>
</body> 
</html>
